/*  reset css  
 *****************/
body, img, label, input, legend, fieldset  {
	padding: 0;
	margin: 0;
}


/*  general styles  
 *****************/
html {
	background-color: #E1CAA7;
}

body {
	margin: 0 auto;
	width: 660px;
	height: auto;
}

main {
	margin-top: 50px;
	background-color: #fff;
	border-radius: 25px;
	padding: 36px;
}

h1, p {
	text-align: center;	
}

img {
	width: 300px;
	height: auto;
	margin-bottom: 16px;
}


/*  forms
 *****************/
.required {
	color: red;
	font-size: small;
	font-style: italic;
}

label.textinput, legend {
	display: block;
	float: left;
	width: 250px;
	text-align: right; 
	margin-right: 15px;
	font-weight: bold;
}

input.textinput {
	width: 150px;
	height: 30px;
}

fieldset {
	margin: 25px 0;
	border: none;
}

div#bonus, div#bingo {
	float: left;
	width: 200px;
}

#bonus label {
	display: block;
}

#bonus input, #bingo input {
	margin-right: 10px;
}

#note {
	font-weight: normal;
}

input[type="submit"] {
	display: block;
	width: 130px;
	height: 40px;
	margin: 30px 0 30px 265px;
	background-color: #E1CAA7;
	border-radius: 15px;
}

#score {
	
}