/*  RESET CSS  
 *****************/
body, img, label, input, legend, fieldset  {
	padding: 0;
	margin: 0;
}


/*  GENERAL STYLES  
 *****************/
html {
	background-color: #3B3E71;
}

body {
	margin: 0 auto;
	width: 660px;
	height: auto;
}

main {
	margin-top: 50px;
	background-color: #fff;
	border-radius: 25px;
	padding: 36px;
}

h1 {
	color: #17182d;
}

h1, p {
	text-align: center;	
}

img {
	width: 300px;
	height: auto;
	margin-bottom: 16px;
}


/*  FORMS
 *****************/
label.textinput, legend {
	display: block;
	float: left;
	width: 250px;
	text-align: right; 
	margin-right: 15px;
	font-weight: bold;
}

input.textinput {
	width: 150px;
	height: 30px;
}

fieldset {
	margin: 25px 0;
	border: none;
}

div#bonus, div#bingo {
	float: left;
	width: 200px;
}

#bonus label {
	display: block;
}

#bonus input, #bingo input {
	margin-right: 10px;
}

#note {
	font-weight: normal;
}

input[type="submit"] {
	display: block;
	width: 130px;
	height: 40px;
	margin: 30px 0 30px 265px;
	background-color: #d7d8e2;
	border-radius: 15px;
}


/*  WARNINGS/MESSAGES
 *****************/
.required {
	color: red;
	font-size: small;
	font-style: italic;
}

.errors {
	color: red;
	font-style: italic;
}

.results {
	width: 400px;
	margin: 0 auto;
	padding: 7px 40px;
	color: #fff;
	font-size: 150%;
	background-color: #75779b;
	border-radius: 25px;
}